<form [formGroup]="stockPickerForm">
  <mat-form-field>
    <input
      matInput
      placeholder="Symbol e.g AAPL"
      formControlName="symbol"
      value=""
    />
    <mat-error
      ><span
        *ngIf="
          !stockPickerForm.get('symbol').valid &&
          stockPickerForm.get('symbol').touched
        "
        >Please enter a symbol</span
      >
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="startDate" placeholder="Choose a start date" (dateChange)="changeStDate($event)"
           formControlName="startDate" [max]="maxDate">
    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
    <mat-datepicker #startDate></mat-datepicker>
  </mat-form-field>


  <mat-form-field>
    <input matInput [matDatepicker]="endDate" placeholder="Choose an end date" (dateChange)="changeEndDate($event)"
           formControlName="endDate" [max]="maxDate">
    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
    <mat-datepicker #endDate></mat-datepicker>
  </mat-form-field>

 <!--have to comment for task 2-->
  <button (click)="fetchQuote()" mat-raised-button>Go</button>

</form>

<coding-challenge-chart [data$]="quotes$"></coding-challenge-chart>
